.alert{
    position: relative;
    margin-left: 17px;
    width: 1150px;
}
.row{
    position: relative;
    margin-top: 100px;
    margin-left: 60px;
}
.form-floating{
    position: relative;
    margin-left: 675px;
    margin-top: -50px;
}
.buttons{
    position: relative;
    margin-left: 1030px;
    margin-top: 30px;
}