body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.input-group {
    width: 100%;
    margin: 0;
}
.alert {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}
.row {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}
.form-floating {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.buttons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.buttons .btn {
    margin-right: 10px;
} 
#floatingTextarea2{
    width: 100%;
}